.top{
    font-family:cursive;
    padding: 20px;
}

.edu{
    color: aliceblue;
    padding: 05px;
    padding-left: 20px;
}

.detail{
    border:3px solid gray;
    border-collapse: collapse;
    width: 800px;
    font-family:cursive;
    font-size:30px;
    color:black;
    
}

.td{
    padding: 10px;
}
@media screen and (max-width:600px){
    .detail{
        border: 0px;
        max-width: 600px;
        padding: 0px;
        display:grid;
        font-size: 12px;
        
    }
    .profile{
        padding: 02%;
    }

    .edu{
        max-width: 600px;
        padding: 0px;
    }

    .td{
        display: flex;
        padding:20px 0%;
        max-width: 300px;
    }
    .top{
        font-size: 12px;
    }
}

