.edu{
    color: aliceblue;
}

.detail{
    border-collapse: collapse;
    font-family:cursive;
    font-size:30px;
    color:black;
    
}

@media screen and (max-width:600px){
    .detail{
        font-size: 10px;
    }

    h1{
        font-size: 20px;
    }
}

