.profile{
    color: aliceblue;
    padding: 10px;
}

.person{
    
    border-collapse: collapse;
    font-family:cursive;
    font-size:30px;
    color:black;
    
}

.td{
    padding: 10px;
}
@media screen and (max-width:600px){
    .person{
        font-size: 15px;
        margin: auto;
    }
    .email{
        font-size: 10px;
    }
}

