.head{
    font-family:cursive;
    font-size:20px;
    padding-left: 20px;
}

.skill{
    width: auto;
    padding-left: 10%;
}
@media screen and (max-width:600px){
    .skill{
        transform: rotate(90deg);
        padding-left: 20px;
        padding-top: 10px;
        height: 190px;
        width: 220px;
    }
}