.topic{
    background:black; 
    display: grid;
    width: 250px;
    height: 550px;
}

#link{
    font-size: 20px;
    padding: 20px;
    padding-left: 30px;
    color: aliceblue;
}

#link:hover{
    background-color: green;
    
}

#link:active{
    color:yellowgreen;
}

#link:visited{
    color: brown;
}

Link:active{
    color: lightgreenS;
}

@media screen and (max-width: 600px)
{
    .topic{
        width: 100px;
        height: 350px;
        
    }
    #link{
        padding: 05px 20px;
        font-size: 10px;
    }
}