.app{
 width: 80%;
 margin: 0 auto;
}
.flex{
    display: flex;
    background: whitesmoke;
    background-repeat: no-repeat;
    background-size: 100%;
}

@media screen and (max-width:600px){
    .flex{
        display: grid;
    }
}

.footer{
    background:grey;
    text-align: center;
    padding: 02px;
}

a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}